body {
  margin: 0; }

html {
  font-size: 10px;
  background-color: black;
  position: relative; }

.nav {
  width: 15vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  float: right;
  transform: translateY(-100%); }
  @media (max-width: 600px) {
    .nav {
      width: 100vw;
      height: 10rem;
      clear: both;
      transform: translateY(-100vh);
      margin-top: 0; } }
  .nav-icon {
    margin-left: 1rem; }
    @media (max-width: 600px) {
      .nav-icon {
        margin: auto; } }
    .nav-icon__item {
      width: 15rem;
      height: 15rem;
      text-align: center; }
      @media (max-width: 600px) {
        .nav-icon__item {
          width: 10rem;
          height: 10rem;
          display: inline-block; } }
      .nav-icon__item:hover, .nav-icon__item:active {
        background-image: linear-gradient(to left top, blue, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .nav-icon__item i {
        padding-top: 2rem;
        font-size: 10rem; }
        @media (max-width: 600px) {
          .nav-icon__item i {
            font-size: 5rem; } }
      .nav-icon__item p {
        margin-top: 0;
        font-size: 3rem; }
        @media (max-width: 600px) {
          .nav-icon__item p {
            display: none; } }

.home {
  width: 80vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  transform: translateY(-100%); }
  @media (max-width: 600px) {
    .home {
      width: 100vw;
      height: 100vh;
      clear: both;
      text-align: center; } }
  .home p {
    font-size: 6rem; }
    @media (max-width: 600px) {
      .home p {
        font-size: 750%; } }

.contact {
  width: 80vw;
  height: 100vh;
  transform: translateY(-100%);
  float: left;
  color: white;
  text-align: center;
  overflow-y: auto;
  direction: rtl; }
  @media (max-width: 600px) {
    .contact {
      width: 100vw;
      height: auto;
      transform: translateY(-100vh); } }
  .contact h1 {
    font-size: 10rem;
    letter-spacing: 2rem; }
    @media (max-width: 600px) {
      .contact h1 {
        font-size: 7rem;
        letter-spacing: 1rem; } }
  .contact__content {
    width: 100%; }
    .contact__content .icon {
      width: 10rem;
      height: 10rem;
      margin: auto; }
      .contact__content .icon i {
        font-size: 7rem;
        color: white; }
        @media (max-width: 600px) {
          .contact__content .icon i {
            font-size: 6rem; } }
      .contact__content .icon:hover {
        background-image: linear-gradient(to left top, blue, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .contact__content p {
      margin-top: 0;
      margin-bottom: 3rem;
      font-size: 2.5rem; }

.popup {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; }
  .popup iframe {
    width: 70vw;
    height: 70vh;
    border-radius: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.button__map {
  position: absolute;
  left: 85%;
  top: 15%;
  transform: translate(-150%, 50%);
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  outline: none;
  width: 5rem;
  height: 4rem; }
  .button__map i {
    font-size: 3rem; }
